
<%- layout('/layouts/boilerplate.ejs') %>

    <style>
        /* Container */
        .bid-container {
            background: linear-gradient(135deg, #1a1a1a, #333);
            color: #fff;
            padding: 20px;
            max-width: 800px;
            /* margin: 0 auto; */
            padding: 20px;
            /* height: 80vh; */
            border-radius: 20px;
            background: #222;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            opacity: 1;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            justify-content: center;
            /* animation: slide 1s ease-in-out 1 forwards; */
            /* width: 100%; */
            width: 100vw;
            /* border: 2px solid #ff6ec4; */
        }

        #searchBar {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #333;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            margin-bottom: 2rem;
            color: #fff;
            font-size: 16px;
            outline: none;
        }

        @keyframes slide {
            0% {
                opacity: 0;
                transform: translateX(130%);
            }

            60% {
                opacity: 1;
                transform: translateX(-30px);
            }

            80% {
                transform: translateX(10px);
            }

            100% {
                opacity: 1;
                filter: blur(0px);
                transform: translateX(0);
                width: 100%;
                overflow: hidden;
            }
        }

        h1 {
            text-align: center;
            color: #ff6ec4;
            margin-bottom: 20px;
        }

        /* Cart Item */
        .bid-product {
            /* border: 2px solid red; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid #444;
        }

        .bid-product:hover {
            background-color: rgba(52, 55, 54, 0.732);
        }

        .bid-product.selected {
            background-color: rgba(52, 55, 54, 0.732);
        }

        .bid-product img {
            width: 80px;
            border-radius: 10px;
        }

        .item-details {
            /* border: 2px solid rgb(9, 224, 138); */
            flex: 1;
            padding: 0 15px;
        }

        .item-price {
            color: #ff6ec4;
            font-size: 1.2em;
        }

        .view-details {

            background-color: #ff6ec4;
            width: 80px;
            height: 30px;
            color: #fff;
            border: none;
            /* padding: 2px 10px; */
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .view-details:hover {
            background-color: #ff3d85;
        }

        /* Total Price */
        .total-price {
            font-size: 1.5em;
            text-align: right;
            margin-top: 20px;
        }

        /* Checkout Button */
        .checkout-button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #42e695;
            color: white;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            margin-top: 20px;
            transition: background 0.3s;
        }

        .checkout-button:hover {
            background-color: #30cfd0;
        }

        @media (max-width: 768px) {
            .bid-container {
                max-width: 100vw;
            }
        }
    </style>

<%- include('../includes/flash.ejs') %>


    <body>

        <div class="bid-container mt-[8rem] mb-[4rem] mx-auto">
            <h1 class="text-3xl text-left">Place Bid</h1>

            <!-- Example Cart Items -->
            <input type="text" id="searchBar" placeholder="Search..." onkeyup="searchItems()" />
            <div id="bid-products" class="max-h-[50vh] overflow-y-scroll">

                <% allListings.forEach(listing=> { %>

                    <div class="bid-product">
                        <img src="<%= listing.image %>" alt="Stylish Sneakers">
                        <div class="item-details">
                            <h3>
                                <%= listing.product_name %>
                            </h3>
                            <div class="item-price">$<%= listing.price %>.00</div>
                        </div>
                        <button class="view-details">
                            <a href="/listings/<%=listing.product_id%>">View </a>
                        </button>
                    </div>

                    <% }) %>


            </div>

            <div class="border_line w-full border-b-2 border-[#333] my-4">

            </div>

            <form action="/bid/bidForm" method="post" class="bid-form flex flex-col flex-wrap">


                <input type="hidden"  readonly name="listingId" id="listingId" value="" required>

                <label for="starting-price">Enter Starting Price</label>
                <input type="number" name="startingPrice" id=""
                    class="starting-price text-white inline-block pl-2 py-2 max-w-full h-10 rounded-md bg-[#333] outline-none mb-4 mt-2"
                    placeholder="Enter Starting Price" required>

                <label for="time-period">Enter time-period (s)</label>
                <input type="number" name="timePeriod" id=""
                    class="time-period text-white inline-block pl-2 py-2 max-w-full h-10 rounded-md bg-[#333] outline-none mb-4 mt-2"
                    placeholder="Enter Starting Price" required>


                <button type="submit" id="formSubmitButton" class="checkout-button">
                    Place Bid
                </button>

            </form>


        </div>


        <script>

            const searchBar = document.getElementById('searchBar');
            const itemList = document.getElementById('bid-products');
            const items = Array.from(itemList.getElementsByClassName('bid-product'));


            function searchItems() {
                const searchTerm = searchBar.value.toLowerCase();

                // Loop through all items and filter them
                items.forEach(item => {
                    const itemName = item.textContent.toLowerCase();

                    // If the item matches the search term, display it, otherwise hide it
                    if (itemName.includes(searchTerm)) {
                        item.style.display = ''; // Show item
                    } else {
                        item.style.display = 'none'; // Hide item
                    }
                });
            }

            items.forEach(item => {

                item.addEventListener('click', () => {

                    const selectedItems = Array.from(itemList.getElementsByClassName('selected'));

                    selectedItems.forEach(selectedItem => {
                        selectedItem.classList.remove('selected');

                    });





                    item.classList.add('selected');





                    const PreUrl = item.querySelector('.view-details a').getAttribute('href');
                    const id = PreUrl.replace('/listings/', '');

                    document.getElementById('listingId').value = id;

                });
            });


            document.querySelector('form').addEventListener('submit', (e) => {
                e.preventDefault();

                const listingIdField = document.getElementById('listingId');
                const listingId = listingIdField.value;

                console.log(`Listing ID: ${listingId}`);

                if (listingId === '') {
                    alert('Please select a product');
                }

                else {
                    e.target.submit();
                }
            });






        </script>

    </body>