<%- layout('/layouts/boilerplate.ejs') %>
<%- include('../includes/flash.ejs') %>
<link rel="stylesheet" href="/css/formStyle.css">




<body>
    <div class="w-[95%] mx-auto backdrop-blur-lg bg-gray-500/10  my-8 font-serif px-2 py-6  rounded-lg shadow-lg  mt-[6rem] md:w-[65%] md:p-6">
        <h3 class="text-5xl font-bold text-left text-[#ff6ec4] mb-6">Edit Product</h3>
    
        <form action="/listings/<%= listing.product_id %>/edit?_method=PUT" method="POST" class="m-4 flex flex-col space-y-4 form">
            <label for="title" class="text-green-500">Product Name</label>
                <input class="bg-gray-700 text-white border border-gray-600 rounded-md p-2 focus:outline-none "
                    type="text" value="<%= listing.product_name %>" name="product_name" id="title" placeholder="Enter title">

                <label for="description" class="text-green-500">Description</label>
                <textarea
                    class="textarea  bg-gray-700 text-white border border-gray-600 rounded-md p-2 focus:outline-none "
                    name="description" id="description" placeholder="Enter description"><%= listing.description %></textarea>

                

                <label for="price" class="text-green-500">Price</label>
                <input value="<%= listing.price %>" class="bg-gray-700 text-white border border-gray-600 rounded-md p-2 focus:outline-none "
                    type="number" name="price" id="price" placeholder="Enter price">

                

                    <label for="features" class="text-green-500">Features</label>
                <textarea
                    class="textarea  bg-gray-700 text-white border border-gray-600 rounded-md p-2 focus:outline-sky-800 "
                    name="features" id="description" placeholder="Enter features"><%= listing.features %></textarea>

                    <label for="category" class="text-green-500">Category</label>
                    <select value="<%= listing.category %>" id="category" name="category" class="bg-gray-700 text-white" required>
                        <option value="Shoes">Shoes</option>
                        <option value="Jeans">Jeans</option>
                        <option value="Shirt">Shirt</option>
                        <option value="Watch">Watch</option>
                        <option value="Belts">Belts</option>

                    </select>

                <button type="submit"
                    class="button_in_add_listing bg-blue-600 hover:bg-blue-500 active:bg-blue-700 duration-300 text-white py-2 px-4 rounded-md w-[12rem] cursor-pointer "
                    id="button">Update</button>
        </form>
    </div>
    
    <script src="/js/formjs.js"></script>
</body>
